
body {
    background-color: #171717;
}
.page-container {
    display: flex;   
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1460px;
}
.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px 0px;
    width: 1460px;
}
.logo-link {
    width: 216px;
}
.button {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    padding: 10px 0px;
    color: #E4B564;
    font-family: 'Circe', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid #E4B564;
    transition: 0.5s;
}
.button:hover {
    background-color:#e4b564b7;
    transition: 0.5s;
    color: #ffffff;
}
.call-back-img {
    width: 13px;
    height: 13px;
    margin-right: 10px;
}
.top-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 83px 0px 41px 0px;
}
.back-image {
    background-image: url('/HW-5/img/header-bg.jpeg');
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.title {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
}
.middle-title {
    padding-top: 162px;
}
.top-paragraph {
    width: 1182px;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    padding-top: 41px;
    padding-bottom: 41px;
}
#top-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, 467px);
    color: #fff;
    width: 1460px;
    margin: 0 auto;
    gap: 27px;
}
.top-wrapper-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s;
}
.top-wrapper-item:hover {
    box-shadow: inset 0 0 0 5px #ffffff;
    cursor: pointer;
    transition: 0.5s;
    font-size: 21px;
}
.top-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background: #634F2C;
}
.top-item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    background: #B4A385;
}
.top-item-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    background: #E4B564;
}
.top-item-4 {
    grid-column-start: 1;
    grid-column-end: 4;
    background: #635A4A;
}
.top-item-5 {
    grid-column-start: 4;
    grid-column-end: 7;
    background: #B08C4D;
}
.middle-title {
    padding-bottom: 94px;
}
#middle-wrapper {
    display: flex;
    flex-flow: column wrap-reverse;
    width: 1460px;
    gap: 27px;
    height: 900px;
    color: #fff;
    font-family: 'Gilam';
    font-weight: 400;
    font-size: 20px;
}
.middle-wrapper-items {
    padding-top: 44px;
    padding-left: 50px;
    width: 467px;
    transition: 0.5s;
}
.middle-wrapper-items:hover {
    box-shadow: inset 0 0 0 5px #ffffff;
    cursor: pointer;
    transition: 0.5s;
    padding-left: 55px;
    font-size: 21px;
}
.middle-item-1 {
    background: #1F1F1F;
    height: 255px;
}
.middle-item-2 {
    background: #0E0E0E;
    height: 313px;
}
.middle-item-3 {
    background: #0A0909;
    height: 277px;
}
.middle-item-4 {
    background: #242424;
    height: 439px;
}
.middle-item-5 {
    color: black;
    background: #E4B564;
    height: 405px
}
.middle-item-6 {
    background: #0E0E0E;
    height: 313px;
}
.middle-item-7 {
    background: #1F1F1F;
    height: 560px;
}
.bottom-background { 
    background-image: url('/HW-5/img/parallax-bg.jpeg');
    background-attachment: fixed;
    background-size: cover;
    margin-top: 190px;
}
.bottom-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 172px;
    width: 1460px;
}
.bottom-button {
    width: 180px;
}
#bottom-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: 391px 391px;
    width: 1460px;
    padding-top: 72px;
}
.bottom-wrapper-items {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #634F2C;
    transition: 0.5s;
}
.bottom-wrapper-items:hover {
    box-shadow: inset 0 0 0 5px #ffffff;
    cursor: pointer;
    transition: 0,7s;
}
.bottom-item-1 {
    background-color: #634F2C;
}
.item-1-img {
    width: 185px;
}
.bottom-item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Gilam';
    font-weight: 400;
    font-size: 22px;
    color: white;
    background-color: rgba(232, 210, 171, 0.76);
}
.bottom-paragraph {
    text-align: center;
    width: 326px;
    height: 140px;
}
.bottom-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1460px;
    margin-bottom: 240px;
}
.bottom-item-3 {
    background-color: #E4B564;
}
.bottom-item-4 {
    background-color:#635A4A;
}
.bottom-item-5 {
    background-color:#B08C4D;
}
.bottom-item-6 {
    background-color:#634F2C;
}
.item-2-img {
    width: 62px;
}
.item-2-1-img {
    width: 139px;
}
.item-3-img {
    width: 190px;
}
.item-5-img {
    width: 119px;
}
span {
    font-weight: 700;
}


